[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
duckdb = "*"
pandas = "*"
polars = "*"
altair = "*"
matplotlib = "*"
umap-learn = "*"
scikit-learn = "*"
jax = "*"
flax = "*"
optax = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.12"
